*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{
  font-size: 62.5%;
  --header-font-color:hsla(320, 69%, 42%, 1);
  --text-font-color: hsla(244, 38%, 28%, 1);
  --main-background-color: linear-gradient(96.21deg, #343193 0%, #302C63 99.68%);
  --cards-background-color: #ffffff;
}

body{
  display: grid;
  align-items: center;
  justify-content: center;
  font-family: 'Mulish', sans-serif;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1{
  font-size: 3.2rem;
  font-weight: 900;
  margin: 1.7rem 0 .5rem;
}

header h2{
  font-size: 2rem;
  font-weight: 600;
}

header > img:nth-last-child(1){
  margin: 3.5rem 0 9.3rem;
  
}

h1{
  color: var(--header-font-color);
}

h2, p{
  color: var(--text-font-color);
}

main{
  display: flex;
  flex-direction: column;
  gap: 4.9rem;
  padding: 5.2rem 3.9rem;
  background: var(--main-background-color);
}

.card{
  background-color: var(--cards-background-color);
}