* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-size: 62.5%;
  --header-font-color: hsla(320, 69%, 42%, 1);
  --text-font-color: hsla(244, 38%, 28%, 1);
  --main-background-color: linear-gradient(
    96.21deg,
    #343193 0%,
    #302c63 99.68%
  );
  --cards-background-color: #ffffff;
}

body {
  display: grid;
  align-items: center;
  justify-content: center;
  font-family: "Mulish", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  font-size: 3.2rem;
  font-weight: 900;
  margin: 1.7rem 0 0.5rem;
}

header h2 {
  font-size: 2rem;
  font-weight: 600;
}

header > img:nth-last-child(1) {
  margin: 3.5rem 0 9.3rem;
}

h1 {
  color: var(--header-font-color);
}

h2,
p,
::placeholder {
  color: var(--text-font-color);
}

main {
  display: flex;
  flex-direction: column;
  gap: 4.9rem;
  padding: 5.2rem 3.9rem;
  background: var(--main-background-color);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--cards-background-color);
  padding: 2.6rem;
  border-radius: 2rem;

  box-shadow: 0 0.331077rem 1.32431rem hsla(0, 0%, 0%, 0.25);
}

.card img {
  margin-bottom: 3.3rem;
}

.card h1 {
  font-size: 2.9rem;
  font-weight: 900;
  width: 26.5rem;
  line-height: 3.7rem;
  margin-bottom: 2rem;
}

.card p {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
}

#contact {
  display: flex;
  flex-direction: column;
  padding: 7.8rem 4rem 6.5rem;
}

#contact h1 {
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 4rem;
  margin-bottom: 4.3rem;
}

#contact > div {
  display: flex;
  align-items: center;
  width: 100%;

  border: 1.5px solid #312d64;
  border-radius: 16px;

  padding: 1.2rem 1.6rem 1.2rem 1.4rem;
  margin-bottom: 2.4rem;
}

#contact div img {
  margin-right: 1.2rem;
}

input {
  display: flex;
  width: 100%;
  border: none;
  outline: none;
}

::placeholder {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 100%;
}

textarea {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 100%;

  border: 1.5px solid #312d64;
  border-radius: 16px;

  height: 12.6rem;
  margin-bottom: 2.4rem;
  padding: 1.2rem 1.6rem 1.2rem 1.4rem;

  outline: none;
}

button {
  width: 15.1rem;
  padding: 1.6rem;

  background: linear-gradient(96.21deg, hsl(242, 50%, 38%) 0%, hsl(244, 38%, 28%) 99.68%);
  border-radius: 16px;
  color: #ffffff;
  font-family: "Mulish", sans-serif;

}
